.details{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
}
.box-details .img-container{

    max-width: 400px;
    width: 100%;
    margin: 20px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
}
.box-details .img-container:hover{
    background-size: 150%;
    cursor: pointer ;
}
.box-details h2{
    color:dodgerblue;
    font-size: 30px;
    margin:15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.box-details h1{
    color:crimson;
    font-size: 25px;
    margin:15px;
}
.box-details p{
    margin:15px;    
}
button{
    margin-top: 10px;
    margin-right: 5px;
    background-color: #333;
    color: white;
}
.colors button,
.size button{
    outline: none;
    border: none;
    width:35px;
    height: 35px;
}
.box-details .thum{
    display: flex;
    cursor: pointer;
}
.box-details .thum img{
    width: 200px;
    height: 35px
}